
html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    	background-color:#dfdbdbde;

}

:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}


/* ---------------- Global Classes ---------------*/

a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Lexend);
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span{
    font-family: var(--Abel);
}

.container{
    margin: 0 5vw;
}

.text-gray{
    color: var(--text-gray);
}

p{
    font-family: var(--Lexend);
    color: var(--text-light);
}

/* ------x------- Global Classes -------x-------*/


/* --------------- navbar ----------------- */

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{    
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
    /* text-transform: uppercase;
    letter-spacing: 2px; */
}

.nav .social{
    padding: 1.4rem 0
}

.nav .social i{
    padding: 0 .2rem;
}
.nav .social i:hover{
    color: #a1c4cf;
}

/* -------x------- navbar ---------x------- */


/* ----------------- Main Content----------- */

/* --------------- Site title ---------------- */
main .site-title{
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
    display: flex;
    justify-content: center;
    
}

main .site-title .site-background{
    padding-top: 20rem;
    text-align: center;
    color: var(--white);
}

main .site-title {
    background: url('../assets/pages/new_home_cover.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    justify-content: center;
    
}

main .section-title .section-background{
    background: url('../assets/pages/section-title-background.jpg');
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

/*-----Contact Page-----*/
main .contact-site-title{
    background: url('../assets/pages/contact-me.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    justify-content: center;
    
}

main .contact-site-title .site-background{
    padding-top: 20rem;
    text-align: center;
    color: var(--white);
}



/*-----Contact Page-----*/


main .site-title h1, h2, h3{
    margin: .3rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background: var(--sky);
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

/* --------x------ Site title --------x------- */

/* --------------- Blog Carousel ------------ */

main .blog{
    background-color: white;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;

}

main .blog-content span{
    display: block;

}

section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--midnight);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}


/* -------x------- Blog Carousel -----x------ */


/* ---------------- Site Content ----------------*/

main .site-content{
    display: grid;
    grid-template-columns: 35% 35% 30%;
}

main .archive-site-content{
    display: grid;
    grid-template-columns: 50% 50%;
}

main .post-content{
    width: 100%;
}



main .site-content .post-content > .post-image, .post-title{
    padding: 1rem 2rem;
    position: relative;
}

main .archive-site-content .post-content > .post-image, .post-title{
    padding: 1rem 2rem;
    position: relative;
}

main .site-content .post-content > .post-image .post-info{
    background: var(--midnight);    ;
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 7vw;
    border-radius: 3rem;
;}

main .archive-site-content .post-content > .post-image .post-info{
    background: var(--midnight);    ;
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left:14vw;
    border-radius: 3rem;
}
main .site-content .post-content > .post-image > div{
    overflow: hidden;
}
main .archive-site-content .post-content > .post-image > div{
    overflow: hidden;
}

main .site-content .post-content > .post-image .img-blog-cover{
    width: 100%;
    /* transition: all 1s ease; */
}

main .archive-site-content .post-content > .post-image .img-blog-cover{
    width: 100%;
    /* transition: all 1s ease; */
}

main .site-content .post-content > .post-image .img-blog-cover:hover{
    /* transform: scale(1.3); */
}

main .site-content .post-content > .post-image .post-info span{
    margin: 0 .5rem;
    color:white;
}

main .archive-site-content .post-content > .post-image .post-info span{
    margin: 0 .5rem;
    color:white;
}

main .post-content .post-title a{
    font-family: var(--Anton);
    font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn{
    border-radius: 2rem;
    padding: .7rem 1.5rem;
    background: var(--midnight);
    color: white;
    
}

.archive-site-content .post-content .post-title .post-btn{
    border-radius: 2rem;
    padding: .7rem 1.5rem;
    background: var(--midnight);
    color: white;
    
}

.archive-site-content .post-content .post-title .post-btn:hover{
    background: transparent;
    border: 1px solid;
    color: var(--black);
    border-color: #0f0f0f;
    
}



.site-content .pagination{
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0;
}

.archive-site-content .pagination{
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0;
}

.site-content .pagination a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: var(--Lexend);
}

.archiv-site-content .pagination a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: var(--Lexend);
}

.site-content .pagination .pages{
    background: var(--text-gray);
    color: var(--white);
}

.archive-site-content .pagination .pages{
    background: var(--text-gray);
    color: var(--white);
}

/* -------x-------- Site Content --------x-------*/
/*------------------------------------------------------------------
[7. Widget / .widget]
*/

.widget {
	margin-bottom:50px;
    background-color: white;
	border-radius:10px 10px 10px 10px;
    
}
.widget h3 {
	margin:0;
	font-size:18px;
	letter-spacing:2px;
}
.widget-title {
	text-align:center;
	padding:16px;
	border-radius:10px 10px 0 0;
	text-transform:uppercase;
}


/*------------------------------------------------------------------
[7.1. About Me / .about-me]
*/
main .container .sidebar{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 8;

}

main .container .sidebar .about-me .ab-image {
	position:relative;
}
main .container .sidebar .about-me .ab-image img {
	border-radius:10px 10px 0 0;
    max-height: 100%;
    max-width: 100%;
    
    

}

main .container .sidebar .about-me .ad-text {
	padding:25px;
	border-radius:0 0 10px 10px;
	text-align:center;
}
.about-me .ad-text p {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1.5px;
    line-height: 1.8;
    padding-bottom: 10px;
}
.about-col img{
    width: 100%;
    height: 50%;
    object-fit: scale-down;
    border-radius: 10px;
}
.about-col h1{
  text-align: center;
}

.about-me-page{
    display: flex;
    flex-direction: row;
}
.about-me-left-page{
    padding: 1rem 2rem;
    position: relative;
    background-color: white;
    border-radius: 10px;
    margin: 1rem;
    width: 30%;
  
}
.about-me-right-page{
    padding: 1rem 2rem;
    position: relative;
    background-color: white;
    border-radius: 10px;
    margin: 1rem;
    width: 70%;
    
}




/*------------------------------------------------------------------
[7.2. Latest Posts / .latest-posts]
*/


.clear,
.clearfix {
	clear:both;
}
main .container .sidebar .latest-posts .posts-container {
	text-transform:uppercase;
	padding:25px;
	margin-top:4px;
	border-radius:0 0 10px 10px;
}
main .container .sidebar .latest-posts .posts-container .item {
	margin-top:25px;
}
main .container .sidebar .latest-posts .posts-container .item:first-child {
	margin-top:0;
}
main .container .sidebar .latest-posts .post-image {
	margin-right:25px;
	float:left;	
}
main .container .sidebar .latest-posts .info-post {
	float:left;
	width:166px;	
}
main .container .sidebar .info-post h5 {
	margin:0 0 10px 0;
}
main .container .sidebar .latest-posts .info-post h5 a {
	font-size:14px;
	font-family: 'Playfair Display', serif;
	letter-spacing:1.5px;
	line-height:1.5;
}
main .container .sidebar .latest-posts .info-post .date {
	font-size:12px;
	letter-spacing:1.5px;
}
 



/*------------------------------------------------------------------
[7.3. Follow Us / .follow-container]
*/

.container .follow-container {
	text-transform:uppercase;
	padding:25px;
	margin-top:4px;
	border-radius:0 0 10px 10px;
	text-align:center;	
}
.container .follow-container a {
    /* border-radius: 50%; */
    display: inline-block;
    font-size: 12px;
    height: 42px;
    line-height: 44px;
    margin: 6px;
    width: 42px;
	transition: all 0.3s ease 0s;
    background-color: white;
}
.container .follow-container a:hover {
	transition: all 0.3s ease 0s;
}

.container .follow-container i{
    background-color: white;
   font-size: xx-large;
   border-color: rgb(226, 94, 12);
   border-radius: 10px 10px 10px 10px;
   border-style: solid;
   padding: 5px;


}


/*------------------------------------------------------------------
[7.4. Tags / .tags-container]
*/

.container .tags-container {
	text-transform:uppercase;
	padding:25px;
	margin-top:4px;
	border-radius:0 0 10px 10px;
	text-align:center;
}
.container .tags-container a {
	padding:8px 20px;
	margin:5px;
	font-size:12px;
	display:inline-block;
	border-radius:5px;
    border-style: solid;
    border-color: rgb(226, 94, 12);

	transition: all 0.6s ease 0s;

}
.container .tags-container a:hover {
	transition: all 0.6s ease 0s;
}


/* -------------------------------------------------- books display ------------------------------------------------------*/
.books-grid-container {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-row-gap: 0px; 
    
  }
  
  .books-grid-item {
    text-align: center;
  }
  .book-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  
  
  .summary-scroll {
    max-height: 16em;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .summary-scroll::-webkit-scrollbar {
    display: none;
  }
  
  .summary-scroll p {
    margin: 0;
  }
  
  


/*------------------------------------------------------------------
[7.6. Newsletter / .newsletter-container]
*/

.container .newsletter-container {
	padding:25px;
	margin-top:4px;
	border-radius:0 0 10px 10px;
	text-align:center;	
}
.container .newsletter h4 {
	font-size:14px;
	letter-spacing:2px;
}
.container .newsletter p {
	font-size:12px;
	letter-spacing:1.5px;
}
.container .newsletter form {
	margin-top:25px;
}
.container .newsletter form input {
	display:block;
	width:100%;
	border:0;
	border-radius:5px;
	font-style:italic;
	font-size:12px;
	padding:12px;
	margin-bottom:10px;
	text-align:center;
	letter-spacing:1.5px;
    padding-right: 12px;
    border-color: rgb(226, 94, 12);
    border-style: solid;

}
.container .newsletter form button {
    display:block;
    width:100%;
	border:0;
    border-radius:5px;
	padding:12px;

    border-color: rgb(226, 94, 12);
    border-style: solid;
	
	text-transform:uppercase;
	letter-spacing:1.5px;
	font-weight:600;	
}
/* 
--------------- Sidebar -----------------------


/* -------x------- Sidebar -----------x----------- */

   .about-me-container {
    align-items: center;
    justify-content: center;
  }
  
  .about-me-img {
    max-width: 25%;
    max-height:15%;
    float: left;
  }
  
  .about-me-text {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20%;
    float: left;
  }


  /* POST SLIDER */

.post-slider {
    position: relative;
  }
  
  .post-slider .slider-title {
    margin: .3rem;
  }
  
  .post-slider .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
  }
  
  .post-slider .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
  }
  
  .post-slider .post-wrapper {
    width: 84%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
   
  }
  
  .post-slider .post-wrapper .post {
    width: 300px;
    height: 330px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    /* border-radius: 5px; */
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
    border-radius: .5rem;
    border-style: solid;
    border-color: black;
  }
  
  .post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 5px;
  }
  
  .post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }

  .post-slider .post-wrapper .post-btn{
    border-radius: 2rem;
    padding: .4rem 1.5rem;
    background: var(--midnight);
    color: white;
    margin-top: 1rem;
        
}

 .post-slider .post-wrapper .post-btn:hover{
    background: transparent;
    border: 1px solid;
    color: var(--black);
    border-color: #0f0f0f;
    
}

.single-post-header{
text-align: center;
}

/* ---------x------- Main Content -----x----- */

/*-----------------Contact me Page---------------*/
main .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  main .row:after {
    content: "";
    display: table;
    clear: both;
  }

  main .container input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  main .container input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  main .container input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  main .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

main .contact-site-title .contact-site-background h1{
    color: white;
    padding-top: 80px
}

main .container h3{
    color:black;
    padding:5%;
    text-align: center;
}

/*---------x--------Contact me Page----x-----------*/

/* ----------------- Footer --------------------- */

footer.footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: var(--bg-color);

}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: var(--white);
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;

}

footer.footer .follow div i{
    color: var(--white);
    padding: 0 .4rem;
}

footer.footer .rights{
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a{
    color: var(--white);
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: var(--midnight);
}

footer.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}

/* ---------x------- Footer ----------x---------- */



/* ********* Gallery ********* */
img{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.column{
    flex: 25%;
    padding: 4px;
    max-width: 100%;

    
}

.gallery_content_container {
    position: relative;
    width: 100%;
  }
.gallery_content_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .gallery_content_container:hover .gallery_content_overlay {
    opacity: 0.5;
  }
  
  .gallery_content_text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


   /*admin section*/

   header {
	background: #01474a;
}

.admin-wrapper {
	display: flex;
	height: 100vh;
}

.admin-wrapper .left-sidebar {
	flex: 2;
	height: 100%;
	background:white;
}

.admin-wrapper .left-sidebar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	color: aliceblue;
}

.admin-wrapper .left-sidebar ul li a {
	padding: 18px;
	display: block;
	border-bottom: 1px solid #004044;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.admin-wrapper .left-sidebar ul li a:hover {
	background: #004044;
        color: var(--white);

}


.admin-wrapper .admin-content {
	flex: 8;
	height: 100%;
	padding: 40px 100px 100px;
	overflow-y: scroll;
}
.admin-content .page-title {
	text-align: center;
	margin-bottom: 1.5rem;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-size: 1.1rem;
}

th,
td {
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid #d3d3d3;
}

.edit {
	color: green;
}

.delete {
	color: red;
}

.publish {
	color: blue;
}

.edit:hover,
.delete:hover,
.publish:hover {
	text-decoration: underline;
}

form div {
	margin-bottom: 15px;
}

/* @media(max-width: 800px){
    .column{
        flex: 100%;
        
        max-width: 100%;
    }
} */

/* @media(max-width: 600px){
    .column{
        flex: 100%;
        
        max-width: 100%;
    }
} */

/*              Viewport less then or equal to 1130px            */

/* @media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

} */

/*      x       Viewport less then or equal to 1130px    x     */


/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 1000px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }
   
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: repeat(2, 1fr);
    }

    main .archive-site-content{

    grid-template-columns: repeat(1, 1fr);

}

    main .container .sidebar{
        display: none;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

    .column{
        flex: 100%;
        
        max-width: 100%;
    }

}


/*        x      Viewport less then or equal to 750px       x     */


/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 550px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }
    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }
    footer.footer .container > div{
        padding:  1rem .9rem !important;

    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }

}

/*        x      Viewport less then or equal to 520px       x     */
